@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background: url("../assets/img/bg2.png");
    height: 100vh;
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box {
    background: linear-gradient(rgb(140, 222, 140), white);
    height: 90vmin;
    width: 90vmin;
    border: 5px solid black;
    display: grid;
    grid-template-columns: repeat(18, 1fr);
    grid-template-rows: repeat(18, 1fr);
}

.scores{
    border:2px solid rgba(229, 255, 194,0.5);
    background-color: rgba(0,0,0,0.4);
    position: absolute;
    top:3.5rem;
    right:3.5rem;
    padding:1rem 1.5rem;
    color:rgb(229, 255, 194);
}

#scoreBox{
    /* position: absolute; */
    /* top:30px; */
    /* right:155px; */
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
    /* color:white; */
}
#hiScoreBox{
    /* color:white; */
    /* position: absolute; */
    /* top:70px; */
    /* right:80px; */
    font-size: 2rem;
    font-family: 'Indie Flower', cursive;
}

.head {
    /* background: linear-gradient(rgb(134, 12, 148), rgb(81, 38, 92), rgb(139, 7, 153)); */
    /* background:linear-gradient(rgb(74, 183, 31),rgb(74, 183, 31),rgb(229, 255, 194), rgb(74, 183, 31),rgb(74, 183, 31)); */
    background: linear-gradient(rgb(8, 59, 8),rgb(8, 59, 8),rgb(128, 217, 112), rgb(8, 59, 8),rgb(8, 59, 8));
    border-radius: 10px;
    border:0.25vmin solid rgb(65, 121, 56);
    transform: scale(1);
}

.snake {
    /* background:linear-gradient(rgb(86, 18, 93), rgb(251, 176, 255), rgb(112, 29, 122)); */
    background: linear-gradient(rgb(6, 84, 19),rgb(128, 217, 112), rgb(229, 255, 194),rgb(128, 217, 112), rgb(6, 84, 19));
    /* background: linear-gradient(black,black, rgb(229, 255, 194),black, black); */
    border: 0.25vmin solid rgb(53, 128, 23);
    border-radius: 12px;
}

.food {
    background: linear-gradient(rgb(255, 179, 0), red);
    border: 0.25vmin solid black;
    border-radius: 100%;
}